.about
    margin-bottom 56px
    padding 0 16px

    &__inner
        margin-bottom 56px
        padding-top 27px

    &__title
        position relative
        margin 0 0 32px
        font-size 38px
        line-height @font-size + 6px
        letter-spacing -.54px
        color color-blue

        &::before
            content ''
            position absolute
            top -25px
            left 154px
            display block
            width 152px
            height 19px
            background-image url('../images/pattern-curved-line-1.svg')
            background-repeat no-repeat
            background-size cover

    &__text
        margin 0 0 32px

    &__image
        width 100%
        height auto
        margin-bottom 56px

    &__stats
        display flex
        flex-wrap nowrap
        flex-direction column
        align-items center
        margin 0
        padding 0
        list-style none

    &__stats-item
        margin-bottom 32px
        line-height 1.62
        letter-spacing 2.5px
        text-transform uppercase
        text-align center

        &:last-of-type
            margin-bottom 0

    &__stats-number
        display block
        font-weight 700
        font-size 48px
        line-height @font-size + 8px
        text-align center
        color color-blue

@media (min-width: 768px)
    .about
        margin-bottom 92px

        &__container
            display flex
            flex-wrap wrap

        &__inner
            width 408px
            margin-bottom 88px
            padding-top 88px

        &__title
            width 500px
            margin-bottom 40px
            font-size 56px
            line-height @font-size + 8px
            letter-spacing -.78px

            &::before
                top -45px
                left 224px
                width 231px
                height 29px

        &__text
            margin-bottom 40px

        &__image
            width 281px
            margin-bottom 88px

        &__stats
            flex-direction row
            width 100%

        &__stats-item
            width calc(100% / 3)
            margin-bottom 0

@media (min-width: 1200px)
    .about
        margin-bottom 154px

        &__container
            flex-wrap nowrap

        &__inner
            width 350px
            margin-bottom 0
            padding-top 103px

        &__title
            width 635px
            font-size 72px
            line-height @font-size + 6px
            letter-spacing -1px

            &::before
                top -55px
                left 290px
                width 287px
                height 36px

        &__text
            margin-bottom 52px
            font-size 18px
            line-height @font-size + 14px
            letter-spacing -.1px

        &__image
            width 350px
            margin-left 124px
            margin-right 96px
            margin-bottom 0

        &__stats
            flex-direction column
            width 190px
            margin-top 106px

        &__stats-item
            width 100%
            margin-bottom 63px
            text-align left

            &:last-of-type
                margin-bottom 0

        &__stats-number
            text-align left
