.review
    padding-top 181px
    background-image linear-gradient(to bottom, color-white 0%, color-white 85%, color-beige 0)

    &__container
        position relative
        padding 338px 16px 64px
        color color-white
        background-color color-blue
        background-image url('../images/pattern-blur.svg'), url('../images/pattern-curved-line-2.svg')
        background-repeat no-repeat
        background-position center top, center 261px
        background-size 250px, 50px auto
        border-radius 15px

    &__image
        position absolute
        top -181px
        left 50%
        display block
        width 252px
        height auto
        transform translateX(-50%)

    &__lead
        margin 0 0 40px
        font-size 40px
        line-height @font-size + 8px
        letter-spacing -.42px
        text-align center

    &__quote
        margin 0

    &__quote-text
        margin 0 0 40px
        font-size 18px
        line-height @font-size + 14px
        letter-spacing .09px
        text-align center

        &::before
            content '“'

        &::after
            content '”'

    &__quote-cite
        display block
        font-style normal
        letter-spacing 2.5px
        text-transform uppercase
        text-align center

    &__quote-name
        display block
        font-size 18px
        line-height @font-size + 14px
        letter-spacing -.18px

@media (min-width: 768px)
    .review
        background-image linear-gradient(to bottom, color-white 0%, color-white 47%, color-beige 0)

        &__container
            padding-left 58px
            padding-right 58px
            background-position center -110px, center 261px;
            background-size 400px, 50px auto;

@media (min-width: 1200px)
    .review
        padding-top 45px

        &__container
            padding 88px 125px
            padding-left 634px
            background-position 55px calc(100% + 80px),center 161px;
            background-size 500px,64px auto;

        &__image
            top auto
            bottom 0
            left 122px
            width auto
            height 590px
            transform translateX(0)

        &__lead
            font-size 48px
            letter-spacing -.5px
            text-align left

        &__quote-text
            font-size 20px
            line-height @font-size + 15px
            letter-spacing .1px
            text-align left

        &__quote-cite
            text-align left
