@font-face
	font-family 'Epilogue'
	font-style normal
	font-weight 400
	font-display swap
	src local(''),
		url('../fonts/epilogue-400.woff2') format('woff2'),
		url('../fonts/epilogue-400.woff') format('woff')

@font-face
	font-family 'Epilogue'
	font-style normal
	font-weight 700
	font-display swap
	src local(''),
		url('../fonts/epilogue-700.woff2') format('woff2'),
		url('../fonts/epilogue-700.woff') format('woff')
