@import './variables.styl'
@import './fonts.styl'
@import './components/box-sizing.styl'
@import './components/visually-hidden.styl'

@import './components/container.styl'
@import './components/button.styl'
@import './components/social.styl'
@import './components/txt-bold.styl'

@import './components/page.styl'
@import './components/header.styl'
@import './components/about.styl'
@import './components/review.styl'
@import './components/footer.styl'
